
<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <div [ngSwitch]="isAuthenticated()">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Личный кабинет</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic2">
                    <button class="dropdown-item" [routerLink]="['/login']">Войти</button>
                    <button class="dropdown-item" *ngSwitchCase="false" [routerLink]="['/register']">Зарегистрироваться</button>
                    </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" [routerLink]="['/announcement']">
            Подать обьявление
        </button>
    </div>
    <div class="col">
    </div>
</div>
<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <form (ngSubmit)="load()">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Поиск" [(ngModel)]="search">
                <span class="input-group-btn">
                 <button type="submit" class="btn btn-primary">
                     <span class="fa fa-search"></span>
                 </button>
               </span>
            </div>
        </form>
    </div>
    <div class="col">
    </div>
</div>
<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <!--        <tr *ngFor="let announcement of announcements">
                    <td>{{announcement.id}}</td>
                    <td>{{announcement.title}}</td>
                </tr>-->
        <tr *ngFor="let image of images">
            <td>
                <img [src]="'data:' + image.photoContentType + ';base64,' + image.photo"/>
            </td>
        </tr>
    </div>
    <div class="col">
    </div>
</div>
