<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <div [ngSwitch]="isAuthenticated()">
            <button *ngSwitchCase="false" type="button" class="btn  btn-outline-info" [routerLink]="['/register']">
                Личный кабинет
            </button>
        </div>
        <button type="button" class="btn btn-primary" [routerLink]="['/announcement']">
            Подать обьявление
        </button>
    </div>
    <div class="col">
    </div>
</div>
<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <form (ngSubmit)="load()">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Поиск" [(ngModel)]="search">
                <span class="input-group-btn">
                 <button type="submit" class="btn btn-primary">
                     <span class="fa fa-search"></span>
                 </button>
               </span>
            </div>
        </form>
    </div>
    <div class="col">
    </div>
</div>
<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <!--        <tr *ngFor="let announcement of announcements">
                    <td>{{announcement.id}}</td>
                    <td>{{announcement.title}}</td>
                </tr>-->
        <tr *ngFor="let image of images">
            <td>
                <img [src]="'data:' + image.photoContentType + ';base64,' + image.photo"/>
            </td>
        </tr>
    </div>
    <div class="col">
    </div>
</div>
