<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <form (ngSubmit)="save()">
            <div class="form-group">
                <label>Заголовок</label>
                <input type="text" class="form-control" name="title" placeholder="Название"
                       [(ngModel)]="announcement.title">
                <label>Описание</label>
                <input type="text" class="form-control" name="title" placeholder="Название"
                       [(ngModel)]="announcement.text">
                <label>Телефон</label>
                <input type="text" class="form-control" name="title" placeholder="Название"
                       [(ngModel)]="announcement.phone">
                <label>Фото</label>
                <input type="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)"/>
                <div *ngFor="let item of uploader.queue">
                    <div *ngIf="item.isSuccess">
                        <img style='width:100px;height:100px;' src='data:image/jpeg;base64'/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <span>Save</span>
            </button>
        </form>
    </div>
    <div class="col">
    </div>
</div>
